<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
        <h1>
            User has registered + Cookie is saved in browser
            End of SpeedRun
        </h1>
</body>
</html>